@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <hr class="featurette-divider">

    <div class="row">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2 class="fw-normal">Actividades</h2>
        <p> Consulta Herramientas para el apoyo en la proyeccion de actividades.</p>
        <p><a class="btn btn-secondary" href="#">Ver Detalles</a></p>
      </div>
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2 class="fw-normal">Profesores</h2>
        <p>Consulta herramientas para facilitar tu funcion como profesor</p>
        <p><a class="btn btn-secondary" href="#">Ver Detalles</a></p>
      </div>
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2 class="fw-normal">Estudiantes</h2>
        <p>Consulta herramientas para facilitarte la vida como estudiante</p>
        <p><a class="btn btn-secondary" href="#">Ver Detalles</a></p>
      </div>
    
    